main {
  .error {
    color: #ff0000;
  }

  button {
    width: 100px;
    height: 25px;
    background: #ffff00;
    border: 0px;

    &.disabled {
      opacity: 0.5;
    }
  }

  .game-container {
    display: inline-block;
  }

  .available-bees {
    padding: 20px 0;
    display: inline-block;

    li {
      list-style: none;
      padding: 0px;
      margin: 0px;

      &.bee-type {
        width: 200px;
        padding: 10px 0;
        float: left;
        position: relative;

        .bee-name {
          font-weight: bold;
        }

        ul {
          padding: 0px;
          margin: 0px;

          li {
            @keyframes blink {
              50% {opacity: 0.5;}
            }
            @-webkit-keyframes blink {
              50% {opacity: 0.5;}
            }

            &.hit {
              animation: blink 1s step-start 0s 4;
              font-weight: bold;
              -webkit-animation: blink 1s step-start 0s 4;
            }
          }
        }
      }
    } 
  }

  .selection {
    margin-top: 10px;
    color: #035B0E;
    font-weight: bold;
  }
}
